<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .center {
      position: absolute;
      text-align: center;
      height: 40%;
      width: 60%;
      top: 20%;
      left: 20%;
    }

    table {
      width: 100%;
    }

    td, th {
      text-align: center;
    }

    tr:nth-child(even) {
    }

  </style>

  <title> BigBuy CSVs </title>
</head>

<body style="background-color: rgb(234, 250, 250);">
  <div class="center">

    <div style="border-style: solid; border-color: darkblue; border-width: 10%; border-radius: 10%; margin: 2% 0% 10% 0%;">
      <form name="scheduler" action="/" method="post">
        {% csrf_token %}
        <table style="margin: 2% 0% 2% 0%;">
          <tr>
            <th style="margin: 0% 0% 0% 0%;">
              <label>Days:</label>
              <select name="days" style="color: floralwhite; background-color: darkblue; border-radius: 10%;">
                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option>
                <option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option>
                <option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option>
                <option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
              </select>
            </th>

            <th style="margin: 0% 0% 0% 0%;">
              <label>Hours:</label>
              <select name="hours" style="color: floralwhite; background-color: darkblue; border-radius: 10%;">
                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>
                <option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option>
                <option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option>
                <option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option>
              </select>
            </th>
          </tr>
        </table>

        <input style="color: floralwhite; background-color: darkblue; border-radius: 10%; margin: 2% 0% 2% 0%;" type="submit" value="Submit Duration">

      </form>
    </div>

    <div style="border-style: solid; border-color: darkblue; border-width: 10%; border-radius: 10%; margin: 10% 0% 2% 0%;">
      <div style="margin: 2% 0% 2% 0%;">
        <form name='links' action="/" method="get">
          <input style="color: floralwhite; background-color: darkblue; border-radius: 10%;" type="submit" value="Generate Links" onclick="myFunction()">
        </form>
      </div>

      <div id='linksfields' style="margin: 2% 0% 2% 0%;">
        <div style="margin: 2% 0% 2% 0%;">
          Link for Products.csv: 
          <input style="color:black; border-style: solid; border-color: darkblue; border-width: 10%; border-radius: 10%;" type="text" value="{{key4P}}" placeholder="No Links yet! Try again after sometime." disabled>
        </div>
        <div style="margin: 2% 0% 2% 0%;">
          Link for ProductsStocks.csv: 
          <input style="color:black; border-style: solid; border-color: darkblue; border-width: 10%; border-radius: 10%;" type="text" value="{{key4PS}}" placeholder="No Links yet! Try again after sometime." disabled>
        </div>
        <div style="margin: 2% 0% 2% 0%;">
          Link for ProductsFull.csv:
          <input style="color:black; border-style: solid; border-color: darkblue; border-width: 10%; border-radius: 10%;" type="text" value="{{key4PF}}" placeholder="No Links yet! Try again after sometime." disabled>
        </div>
      </div>
    </div>

  </div>
</body>

<script>
  function myFunction() {
    document.getElementById("linksfields").style.visibility='visible';
  }
</script>

</html>